@import "_content.scss";
@import "_fixes.scss";
@import "_sidebar.scss";

$primary-blue: #1BAFED;
$primary-pink: #EA006F;
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

