<script>
var thedata;
$(document).ready(function (){
    console.log("Doc loaded");
    $("#submit").click(function(){
        console.log("clicked");
        thedata = {
            "year" : "2020",
            "month" : "2"
        };
        $.ajax({
            type: "POST",
            url: "/homer",
            data: JSON.stringify(thedata),
            success: function(data){
                console.log(data);
                console.log(data.error);
            },
            datatype: "json",
            contentType: 'application/json',
            error: function(){
                console.log("something went wrong");
            }
        });
    });
});
</script>
<button id="submit">send</button>