@import url('https://fonts.googleapis.com/css?family=Poppins');
body
{
    font-family: 'Poppins', sans-serif;
    color:#fff;
}
.card
{
    border-radius: 1%;
    margin-top:auto;
    display:grid;
    grid-template-columns: 25% 75%;
    width:20%;
    background-color:royalblue;
    padding: 10px;
    justify-items: center;
}
.card img
{
    background-size: auto;
    width: 100%; 
    height: 100%;
    border: 2px solid white;
    
}
.card .card-name h2
{
    font-size: 200%;
}